
.options li{
    padding: 0 30px;
}
.options li a{
    color: #124611;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
    position: relative;
}
.options li a::before{
    content: " ";
    position: absolute;
    bottom: 0;
    left:0;
    background-color: #12461185;
    height: 3px;
    width: 0;
}
.options li a:hover::before{
    width: 100%;
    transition:all 0.5s ease;
}
.options li button{
    background-color: #0091AD;
    width: 180px;
    height: 50px;
    color: white;
    border-style: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 300;
}
.options li button:hover{
    background-color: #007A91;
    color:#A3CBFF;
    transition: all 0.4s ease;
}
.options li button:active{
    background-color: #006174;
    color:#7E98AA;
}

.introduction{
    background-image: url(/assets/images/introBG.png);
    height: 900px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction .container{
    height: 700px;
    width: 1000px;  
    display: flex;
    position: relative;
    top: -100px;
    
}

.text-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .text-intro{
    color: #65AE5B;
}

.container .text-intro h1{
    font-size: 150px;
    margin: 0;
}

.container .text-intro p{
    font-size: 20px;
    padding-bottom: 20px;
}

.highlight{
    color: #0091AD
}

.GetStartedButton{
    z-index: 999;
    position: relative;
    font-size: 20px;
    background-color: #65AE5B;
    padding: 15px 60px 15px 60px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

.GetStartedButton:hover{
    background-color: #1d4119;
    transition: 0.3s;
}

.introImage {
    position: relative;
    height: 800px;
    left: -400px;
    
}
