*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: "Inria Sans";
}
.header {
    background: linear-gradient(to bottom, #c1f0f5, #c9f0c4);
}
.logo{
    width: 250px;
}
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.options{
    list-style: none;
    align-items: center;
    display:flex;

}
.options li{
    padding: 0 30px;
}
.options li a{
    color: #124611;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
    position: relative;
}
.options li a::before{
    content: " ";
    position: absolute;
    bottom: 0;
    left:0;
    background-color: #12461185;
    height: 3px;
    width: 0;
}
.options li a:hover::before{
    width: 100%;
    transition:all 0.5s ease;
}
.options li button{
    background-color: #0091AD;
    width: 180px;
    height: 50px;
    color: white;
    border-style: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 300;
}
.options li button:hover{
    background-color: #007A91;
    color:#A3CBFF;
    transition: all 0.4s ease;
}
